body{
    background-image:url("vindiniumbackground.png");
    background-size: 100%;
}

.wrapper > * {
    display:inline-block;
    vertical-align:top;
    background-color:white;
}
h1{
    text-align:center;
    background-color:greenyellow;
    color:blue;
    display:inline-block;
}
/* h2{
    text-align:center;
    size:25%;
} */


img{
    height:120px;
}