body{
    background-image:url("http://norabeachresort.com/images/slide-intro-06.jpg");
    background-size:100%;
}

button{
    height:40px;
    width:170px;
    border: solid blue 3px;
    border-radius:30px;
    background-color: blue;
    color:black;
    font-size:15px;
    margin-left:29px;

}

button:hover { 
    transform:scale(1.3);
}


a:visited{
    color:black;
}